<div class="container">
  <div class="row app-cars">
    <app-cars-form *ngIf="this.authRoleService.isEditor && !this.carsService.isHidden"></app-cars-form>

    <div [ngClass]="['col-4', 'title']">
      <h1>{{title}}</h1>
    </div>


    <div [ngClass]="['col-8', 'info-box']">
      <span *ngIf="callProcessing" [ngClass]="['call-processing']" [innerHTML]="callProcessing"></span>
      <button [ngClass]="['export']" (click)="onBtExport()" title="{{buttonExport}}">Export <i class="fas fa-file-download"></i></button>
      <button [ngClass]="['newRow']" *ngIf="this.authRoleService.isEditor" [attr.disabled]="editedColumns.length > 0 ? true : null" (click)="this.carsService.isHidden = false" title="{{buttonNewRow}}">New <i class="fas fa-plus"></i></button>
      <button [ngClass]="['refresh']" *ngIf="this.authRoleService.isEditor" [attr.disabled]="editedColumns.length <= 0 ? true : null" (click)="onBtRefresh()" title="{{buttonRevert}}">Revert <i class="fas fa-sync-alt"></i></button>
      <button [ngClass]="['save']" *ngIf="this.authRoleService.isEditor" [attr.disabled]="editedColumns.length <= 0 ? true : null" (click)="onBtSave()" title="{{buttonSave}}" [innerHTML]="buttonSaveInner"></button>
    </div>

    <ag-grid-angular
      [ngClass]="['col-12', 'ag-theme-balham', 'info-grid']"
      [gridOptions]="this.carsService.gridOptions"
      (gridReady)="onGridReady($event)"
      (cellValueChanged)="onCellValueChanged($event)" >
    </ag-grid-angular>
  </div>
</div>
