.app-cars{
  padding-top: 70px;
  padding-bottom: 20px;
  height: 100vh;
  box-sizing: border-box;

  .info-box{
    text-align: right;

    button{
      -webkit-appearance: none;
      padding: 10px;
      border-radius: 3px;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      border: none;
      margin: 0 5px;
      text-align: center;

      -webkit-transition: all 0.5s;

      i{
        margin-left: 5px;
      }

      &.export, &.refresh, &.newRow{
        background: #008BB8;
      }
      &.save{
        background: #27ae60;
      }

      &:hover{
        &.export, &.refresh, &.newRow{
          background: #006f93;
        }
        &.save{
          background: #1f8b4c;
        }
      }
      &:disabled{
        background: #95a5a6;
        cursor: not-allowed;

        &:hover{
          background: #95a5a6;
        }
      }
    }
    span{
      padding: 11px;
      color: #95a5a6;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 10px;
      line-height: 10px;
      margin: 0 5px;
      text-align: center;

      -webkit-transition: all 0.5s;

      i{
        margin-left: 5px;
      }
    }
  }
  .info-grid{
    margin-top: 20px;
    height: calc(100% - 32px - 20px);
  }
}

:host /deep/ .app-cars{
  .info-box{
    button, span{
      i{
        margin-left: 5px;
      }
    }
  }
}
