<div class="header container-fluid">
  <div class="row">
    <div class="brand col-6">
      <div class="logo"></div>
      <span>{{title}}</span>
    </div>

    <div class="col-6 navbar-container">
      <div class="navbar">
        <a routerLink="kaart" [routerLinkActive]="['active']">Kaart</a>
        <a routerLink="autos"  [routerLinkActive]="['active']" *ngIf="this.authRoleService.isAuthorized">Auto's</a>
        <a routerLink="werk" [routerLinkActive]="['active']" *ngIf="this.authRoleService.isAuthorized">Werk</a>

        <div *ngIf="email" ngbDropdown class="d-inline-block">
          <button class="btn" id="dropdownMenu" ngbDropdownToggle>
            <i class="fas fa-user-cog"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu">
            <span ngbDropdownItem>{{email}}</span>
            <span ngbDropdownItem *ngIf="roles">{{roles}}</span>
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
