<div class="row popup-car">
  <div class="col-12 item name">
    <p>Naam</p>
    <span>{{properties.engineer.name || '-'}}</span>
  </div>
  <div class="col-12 item role">
    <p>Rol</p>
    <span>{{properties.engineer.role || '-'}}</span>
  </div>
  <div class="col-12 item employee_number">
    <p>Medewerkernr.</p>
    <span>{{properties.engineer.employee_number || '-'}}</span>
  </div>
  <div class="col-12 item administration" *ngIf="properties.engineer.administration">
    <p>Administratie</p>
    <span>{{properties.engineer.administration || '-'}}</span>
  </div>
  <div class="col-12 item licensePlate">
    <p>Kentekenplaat</p>
    <div class="license-plate license-nl">
      <span *ngIf="properties.engineer.licensePlate">{{properties.engineer.licensePlate | formatLicensePlate}}</span>
      <span *ngIf="!properties.engineer.licensePlate">N/B</span>
    </div>
  </div>
</div>
