<div [ngClass]="['new-row']">
  <div [ngClass]="['new-row-inner']">
    <h1>{{title}}</h1>

    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" *ngIf="carsTokens">
      <div class="form-group">
        <label for="token">Kentekenplaat<span>&#42;</span></label>
        <select
          class="form-control"
          id="token"
          [(ngModel)]="model.token"
          name="token"
          #token="ngModel"
          required >
          <option [ngValue]="null" selected disabled hidden>Selecteer een kenteken</option>
          <option *ngFor="let token of carsTokens" [value]="token.id">
            <span *ngIf="token.license" class="license-plate license-nl">{{token.license}}</span>
            <span *ngIf="!token.license" class="license-plate license-nl">Auto zonder kenteken. ({{token.id}})</span>
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="administration">Administratie (klantteam) <span>&#42;</span></label>
        <select
          class="form-control"
          id="administration"
          [(ngModel)]="model.administration"
          name="administration"
          #administration="ngModel"
          required >
          <option [ngValue]="null" selected disabled hidden>Selecteer een klantteam</option>
          <option *ngFor="let administration of administrations" [ngValue]="administration">{{administration}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="businessUnit">Afdeling<span>&#42;</span></label>
        <select
          class="form-control"
          id="businessUnit"
          [(ngModel)]="model.businessUnit"
          name="businessUnit"
          #administration="ngModel"
          required >
          <option [ngValue]="null" selected disabled hidden>Selecteer een afdeling</option>
          <option *ngFor="let businessUnit of businessUnits" [ngValue]="businessUnit">{{businessUnit}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="name">Naam</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="model.name"
          name="name" >
      </div>
      <div class="form-group">
        <label for="role">Rol</label>
        <select
          class="form-control"
          id="role"
          [(ngModel)]="model.role"
          name="role">
          <option value="Metende">Metende</option>
          <option value="Lasser">Lasser</option>
          <option value="Leerling">Leerling</option>
          <option value="Kraanmachinist">Kraanmachinist</option>
          <option value="Overig">Overig</option>
          <option value="NLS">NLS</option>
          <option value="Cluster">Cluster</option>
        </select>
      </div>
      <div class="form-group">
        <label for="employee_number">Medewerkernummer</label>
        <input
          type="text"
          class="form-control"
          id="employee_number"
          [(ngModel)]="model.employee_number"
          name="employee_number" >
      </div>

      <button (click)="this.carsService.isHidden = true" type="reset" class="btn btn-fail">Annuleren</button>
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid" [innerHTML]="buttonSave"></button>
    </form>

    <div *ngIf="!carsTokens" [ngClass]="['empty-tokens']">
      <span>{{titleEmpty}}</span>
      <button (click)="this.carsService.isHidden = true" type="reset" class="btn btn-fail">Ok&#233;</button>
    </div>
  </div>
</div>
