<div class="row app-work">
    <div [ngClass]="['col-6', 'title']">
      <h1>{{title}}</h1>
    </div>

    <div [ngClass]="['col-6', 'info-box']">
      <span *ngIf="callProcessing" [ngClass]="['call-processing']" [innerHTML]="callProcessing"></span>
      <button (click)="resetGrid()" title="Verwijder grid voorkeuren">Grid Reset<i class="fas fa-trash"></i></button>
      <button [ngClass]="['export']" (click)="onBtExport()" title="{{buttonExport}}">Exporteren <i class="fas fa-file-download"></i></button>
    </div>

     <ag-grid-angular
        [ngClass]="['col', 'ag-theme-balham', 'info-grid']"
        [gridOptions]="this.gridOptions"
        (gridReady)="onGridReady($event)" >
     </ag-grid-angular>
</div>
