  <div class="row map-container">
    <div class="overlay">
      <span>Laatste update: <b>{{(this.mapService.refreshUpdate | date:'HH:mm') || 'N/B'}}</b></span>
      <span [ngClass]="refreshStatusClasses()" [innerHTML]="this.mapService.refreshStatus"></span>
    </div>

    <div
      *ngIf="!this.mapService.geoJsonReady.map"
      class="alert alert-warning" >
      <strong>Laden</strong> De applicatie is de locaties aan het ophalen, een moment geduld alstublieft.
    </div>

    <agm-map
      *ngIf="this.mapService.geoJsonReady.map"
      [ngClass]="['col-12']"
      [disableDefaultUI]="true"
      [latitude]="this.mapService.activeTokenId ? panToActiveMarker('lat') : this.mapService.lat"
      [longitude]="this.mapService.activeTokenId ? panToActiveMarker('lng') : this.mapService.lng"
      [styles]="this.mapService.styles"
      [zoom]="this.mapService.zoomLevel"
      [minZoom]="this.mapService.minZoom"
      [disableDefaultUI]="true"
      [streetViewControl]="false"
      [scaleControl]="true"
      [mapTypeControl]="true"
      (mapReady)="mapReady($event)"
      (zoomChange)="zoomChange($event)" >

      <div id="setMarkerLayers" [ngClass]="['mapControlOuter']">
        <button
          id="setMarkerLayersCars"
          title="{{(this.mapService.markerLayer.cars ? 'Verberg' : 'Toon')}} auto locaties"
          [ngClass]="['toggle-button', 'controls', 'button', (this.mapService.markerLayer.cars ? 'active' : 'inactive')]"
          (click)="setLayer('cars')" >
          <i class="fas {{(this.mapService.markerLayer.cars ? 'fa-eye' : 'fa-eye-slash')}}"></i>Auto's
        </button>
        <button
          *ngIf="this.authRoleService.isAuthorized"
          id="setMarkerLayersWork"
          title="{{(this.mapService.markerLayer.work ? 'Verberg' : 'Toon')}} werk locaties"
          [ngClass]="['toggle-button', 'controls', 'button', (this.mapService.markerLayer.work ? 'active' : 'inactive')]"
          (click)="setLayer('work')" >
          <i class="fas {{(this.mapService.markerLayer.work ? 'fa-eye' : 'fa-eye-slash')}}"></i>Werk
        </button>
      </div>

      <button
        id="resetZoom"
        title="Herstel zoom"
        [ngClass]="['mapControlOuter', 'toggle-button', 'controls', 'button']"
        [attr.disabled]="this.mapService.zoomLevel <= 8 ? true : null"
        (click)="resetZoom()" >
        <i class="fas fa-redo-alt"></i>
      </button>

      <agm-marker-cluster
        [styles]="this.mapService.clusterStyles"
        [minimumClusterSize]="3"
        [imagePath]="this.mapService.clusterUrl" >
        <ng-container *ngIf="this.mapService.markerLayer.work" >
          <agm-marker
          *ngFor="let m of this.workItemProviderService.workItemsFeatureCollection"
          [latitude]="m.geometry.coordinates[1]"
          [longitude]="m.geometry.coordinates[0]"
          [iconUrl]="{ url: (m.layer == 'cars' ? this.mapService.iconUrlCar : this.mapService.iconUrlWork), labelOrigin: {x:15,y:-10} }"
          [markerClickable]="(this.authRoleService.isAuthorized ? true : false)"
          [markerDraggable]="false"
          >
          <agm-snazzy-info-window
            *ngIf="this.authRoleService.isAuthorized && m.layer == 'cars' || m.layer == 'work'"
            [isOpen]="this.mapService.activeTokenId == m.properties.token || this.mapService.activeTokenId == m.properties.L2GUID ? true : false"
            [closeWhenOthersOpen]="true"
            [panOnOpen]="true"
            [maxWidth]="400"
            [maxHeight]="400"
            (beforeOpen)="infoWindowBeforeOpen(m)"
            (afterClose)="infoWindowAfterClose(m)"
            #infoWindow >
            <ng-template>
              <div [ngClass]="['row', 'marker-car']" *ngIf="m.layer == 'cars'">
                <div [ngClass]="['col-12', 'item', 'driver_name']">
                  <p>Naam bestuurder</p>
                  <span>{{m.properties.driver_name || '-'}}</span>
                </div>
                <div [ngClass]="['col-12', 'item', 'license_plate']">
                  <p>Kentekenplaat</p>
                  <span class="license-plate license-nl">{{m.properties.license_plate || 'N/B'}}</span>
                </div>
              </div>

              <div [ngClass]="['row', 'marker-work', 'no-gutters']" *ngIf="m.layer == 'work'">
                <div [ngClass]="['col-12', 'marker-work-inner']">
                  <div [ngClass]="['row']">
                    <div [ngClass]="['col-4', 'item', 'project_number']">
                      <p>Projectnummer</p>
                      <span>{{m.properties.project_number || '-'}}</span>
                    </div>
                    <div [ngClass]="['col-4', 'item', 'task_type']">
                      <p>Taaktype</p>
                      <span>{{m.properties.task_type || '-'}}</span>
                    </div>
                    <div [ngClass]="['col-4', 'item', 'status']">
                      <p>Status</p>
                      <span>{{m.properties.status || '-'}}</span>
                    </div>
                  </div>

                  <div [ngClass]="['row']">
                    <div [ngClass]="['col-12', 'item', 'description']">
                      <p>Beschrijving</p>
                      <span>{{m.properties.description || '-'}}</span>
                    </div>
                  </div>

                  <div [ngClass]="['row']">
                    <div [ngClass]="['col-6', 'item', 'date']">
                      <p>Startdatum</p>
                      <span>{{m.properties.start_timestamp | date:'dd-MM-yyyy' || 'N/B'}}</span>
                      <span>{{m.properties.start_timestamp | date:'HH:mm' || 'N/B'}}</span>
                    </div>
                    <div [ngClass]="['col-6', 'item', 'date']">
                      <p>Einddatum</p>
                      <span>{{m.properties.end_timestamp | date:'dd-MM-yyyy' || '-'}}</span>
                      <span>{{m.properties.end_timestamp | date:'HH:mm' || '-'}}</span>
                    </div>
                  </div>

                  <div [ngClass]="['row']" *ngIf="m.properties.city || m.properties.zip || m.properties.street">
                    <div [ngClass]="['col-4', 'item', 'city']">
                      <p>Plaats</p>
                      <span>{{m.properties.city || 'N/B'}}</span>
                    </div>
                    <div [ngClass]="['col-4', 'item', 'zip']" *ngIf="m.properties.zip">
                      <p>Postcode</p>
                      <span>{{m.properties.zip}}</span>
                    </div>
                    <div [ngClass]="['col-4', 'item', 'street']" *ngIf="m.properties.street">
                      <p>Straat</p>
                      <span>{{m.properties.street}}</span>
                    </div>
                  </div>

                  <div [ngClass]="['row']"  *ngIf="m.properties.employee_name">
                    <div [ngClass]="['col-12', 'item', 'employee_name']">
                      <p>Naam werknemer</p>
                      <span>{{m.properties.employee_name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
        </ng-container>

        <agm-marker
          *ngFor="let m of this.mapService.geoJsonObjectActive['features']"
          [latitude]="m.geometry.coordinates[1]"
          [longitude]="m.geometry.coordinates[0]"
          [iconUrl]="{ url: (m.layer == 'cars' ? this.mapService.iconUrlCar : this.mapService.iconUrlWork), labelOrigin: {x:15,y:-10} }"
          [markerClickable]="(this.authRoleService.isAuthorized ? true : false)"
          [markerDraggable]="false"
          [label]="{ color: 'black', text: getDriverName(m), fontWeight: 'bold', fontSize: '10px' }">
          <agm-snazzy-info-window
            *ngIf="this.authRoleService.isAuthorized && m.layer == 'cars' || m.layer == 'work'"
            [isOpen]="this.mapService.activeTokenId == m.properties.token || this.mapService.activeTokenId == m.properties.L2GUID ? true : false"
            [closeWhenOthersOpen]="true"
            [panOnOpen]="true"
            [maxWidth]="400"
            [maxHeight]="400"
            (beforeOpen)="infoWindowBeforeOpen(m)"
            (afterClose)="infoWindowAfterClose(m)"
            #infoWindow >
            <ng-template>
              <div [ngClass]="['row', 'marker-car']" *ngIf="m.layer == 'cars'">
                <div [ngClass]="['col-12', 'item', 'driver_name']">
                  <p>Naam bestuurder</p>
                  <span>{{m.properties.driver_name || '-'}}</span>
                </div>
                <div [ngClass]="['col-12', 'item', 'license_plate']">
                  <p>Kentekenplaat</p>
                  <span class="license-plate license-nl">{{m.properties.license_plate || 'N/B'}}</span>
                </div>
              </div>

              <div [ngClass]="['row', 'marker-work', 'no-gutters']" *ngIf="m.layer == 'work'">
                <div [ngClass]="['col-12', 'marker-work-inner']">
                  <div [ngClass]="['row']">
                    <div [ngClass]="['col-4', 'item', 'project_number']">
                      <p>Projectnummer</p>
                      <span>{{m.properties.project_number || '-'}}</span>
                    </div>
                    <div [ngClass]="['col-4', 'item', 'task_type']">
                      <p>Taaktype</p>
                      <span>{{m.properties.task_type || '-'}}</span>
                    </div>
                    <div [ngClass]="['col-4', 'item', 'status']">
                      <p>Status</p>
                      <span>{{m.properties.status || '-'}}</span>
                    </div>
                  </div>

                  <div [ngClass]="['row']">
                    <div [ngClass]="['col-12', 'item', 'description']">
                      <p>Beschrijving</p>
                      <span>{{m.properties.description || '-'}}</span>
                    </div>
                  </div>

                  <div [ngClass]="['row']">
                    <div [ngClass]="['col-6', 'item', 'date']">
                      <p>Startdatum</p>
                      <span>{{m.properties.start_timestamp | date:'dd-MM-yyyy' || 'N/B'}}</span>
                      <span>{{m.properties.start_timestamp | date:'HH:mm' || 'N/B'}}</span>
                    </div>
                    <div [ngClass]="['col-6', 'item', 'date']">
                      <p>Einddatum</p>
                      <span>{{m.properties.end_timestamp | date:'dd-MM-yyyy' || '-'}}</span>
                      <span>{{m.properties.end_timestamp | date:'HH:mm' || '-'}}</span>
                    </div>
                  </div>

                  <div [ngClass]="['row']" *ngIf="m.properties.city || m.properties.zip || m.properties.street">
                    <div [ngClass]="['col-4', 'item', 'city']">
                      <p>Plaats</p>
                      <span>{{m.properties.city || 'N/B'}}</span>
                    </div>
                    <div [ngClass]="['col-4', 'item', 'zip']" *ngIf="m.properties.zip">
                      <p>Postcode</p>
                      <span>{{m.properties.zip}}</span>
                    </div>
                    <div [ngClass]="['col-4', 'item', 'street']" *ngIf="m.properties.street">
                      <p>Straat</p>
                      <span>{{m.properties.street}}</span>
                    </div>
                  </div>

                  <div [ngClass]="['row']"  *ngIf="m.properties.employee_name">
                    <div [ngClass]="['col-12', 'item', 'employee_name']">
                      <p>Naam werknemer</p>
                      <span>{{m.properties.employee_name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>
