.map-container {
  padding-top: 50px;
  height: 100vh;
  background-color: #e5e5e5;

  .overlay {
    top: 60px;
    right: 10px;
    position: absolute;
    z-index: 10;
    text-align: right;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    color: #000;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 4px -1px;
    font-size: 10px;
    line-height: 10px;

    span  {
      display: block;
      text-transform: uppercase;

      &:first-child {
        margin-bottom: 10px;
      }

      &.small {
        font-size: 8px;
        line-height: 8px;
      }

      &.error {
        color: #c0392b;
      }
    }
  }

  .alert {
    top: 60px;
    left: 10px;
    position: absolute;
    z-index: 10;
    font-size: 12px;
  }

  .map-loading {
    padding: 40px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;

    i {
      margin-left: 5px;
    }
  }

  agm-map {
    height: 100%;
    padding: 0;

    .controls {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      appearance: none;

      border: 0;

      -webkit-transition: background-color .5s, color .5s;
      background-color: rgb(255, 255, 255);

      text-transform: uppercase;
      padding: 10px;
      text-align: center;

      font-size: 10px;
      line-height: 12px;


      &:hover {
        color: rgba(0, 0, 0, .9);
      }

      &:disabled {
        color: rgba(0, 0, 0, .3);

        &:hover {
          color: rgba(0, 0, 0, .3);
          cursor: not-allowed;
        }
      }
    }

    .mapControlOuter {
      user-select: none;
      box-shadow: rgba(0, 0, 0, .3) 0 1px 4px -1px;
      border-radius: 2px;
      overflow: hidden;
      cursor: pointer;

      -webkit-transition: color .5s;
      color: rgba(0, 0, 0, .6);


      &#setMarkerLayers {
        top: 10px !important;

        button.controls {
          i {
            margin-right: 5px;
          }
          &.inactive {
            color: rgba(0, 0, 0, 0.3);
            background-color: rgb(242, 242, 242);

            &:hover {
              color: rgba(0, 0, 0, 0.9);
            }
          }
          &:hover {
            background-color: rgb(235, 235, 235);
          }
        }
      }
      &#resetZoom {
        right: 10px !important;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}

// OVERLAY
:host /deep/ .map-container {
  .overlay {
    i {
      margin-left: 5px;
    }
  }

  .si-float-wrapper {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    font-family: 'Poppins', sans-serif;

    & * {
      box-sizing: border-box;
    }

    .si-content-wrapper {
      overflow: visible;
      padding: 0;
      border: none;
      border-top-right-radius: 0;

      .si-close-button {
        position: absolute;
        width: 30px;
        height: 30px;
        right: -30px;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: 25px;
        line-height: 25px;
        padding: 2.5px;
        text-align: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .si-content {
        padding: 10px;

        .row {
          margin: 0;

          &.marker-work {
            padding: 0;

            .row {
              padding: 5px;
              border-radius: 5px;

              &:nth-child(2n + 1) {
                background: #f2f2f2;
              }
            }
          }

          .item {
            padding: 5px;

            p {
              font-size: 10px;
              line-height: 10px;
              margin-bottom: 5px;
              display: table;
            }
            span:not(.license-plate) {
              font-size: 12px;
              line-height: 12px;
              padding: 5px;
              background-color: #008BB8;
              border-radius: 3px;
              color: #fff;
              display: table;
              margin: 5px 0;

              overflow-wrap: break-word;
              word-wrap: break-word;
              -webkit-hyphens: auto;
              -ms-hyphens: auto;
              -moz-hyphens: auto;
              hyphens: auto;
              max-width: 100%;
            }

            &.address {
              span {
                float: left;
                margin: 2.5px;

                &:first-child {
                  margin-left: 0;
                }
                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
