<div class="container">
  <div class="row app-info">
    <div [ngClass]="['col-6', 'title']">
      <h1>{{title}}</h1>
    </div>

    <app-cars-info-form *ngIf="!this.carsInfoService.isHidden"></app-cars-info-form>

    <div [ngClass]="['col-6', 'info-box']">
      <button [ngClass]="['refresh']" [attr.disabled]="!editedColumns ? true : null" (click)="onBtRefresh()" title="{{buttonRevert}}">Revert <i class="fas fa-sync-alt"></i></button>
      <button [ngClass]="['export']" (click)="onBtExport()" title="{{buttonExport}}">Export <i class="fas fa-file-download"></i></button>
      <button [ngClass]="['newRow']" (click)="this.carsInfoService.isHidden = false" title="{{buttonNewRow}}">New <i class="fas fa-plus"></i></button>
      <button [ngClass]="['save']" [attr.disabled]="!editedColumns ? true : null" (click)="onBtSave()" title="{{buttonSave}}">Save <i class="fas fa-save"></i></button>
    </div>

    <ag-grid-angular
      [ngClass]="['col-12', 'ag-theme-balham', 'info-grid']"
      [gridOptions]="this.carsInfoService.gridOptions"
      (gridReady)="onGridReady($event)" >
    </ag-grid-angular>
  </div>
</div>
