<div class="app-planning">
  <div class="row">
    <div class="col-6 title">
      <h1>{{title}}</h1>
    </div>

    <div class="col-6 info-box">
      <button (click)="resetGrid()" title="Verwijder grid voorkeuren">Grid Reset<i class="fas fa-trash"></i></button>
      <button (click)="resetFilters()">Reset Filters <i class="fas fa-filter"></i></button>
      <button (click)="createPlanning()">Genereer Planning <i class="fas fa-calendar-check"></i></button>
    </div>
  </div>

  <div class="row table-row">
    <div class="col-12">
      <ag-grid-angular #planning id="planning" class="col ag-theme-balham info-grid" [gridOptions]="planningGridOptions">
      </ag-grid-angular>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12 title">
          <h2>Ongepland Werk</h2>
        </div>
      </div>
      <div class="row table-row">
        <div class="col-12">
          <ag-grid-angular #unplannedWork id="unplannedWork" class="col ag-theme-balham info-grid" [gridOptions]="unplannedWorkGridOptions">
          </ag-grid-angular>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-12 title">
          <h2>Ongeplande Monteurs</h2>
        </div>
      </div>
      <div class="row table-row">
        <div class="col-12">
          <ag-grid-angular #unplannedEngineers id="unplannedEngineers" class="col ag-theme-balham info-grid" [gridOptions]="unplannedEngineerGridOptions">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
