<div class="form-group mb-3" class="filter-container" [id]="'filter-container-'+filter.field" [ngSwitch]="filter.inputType">
  <a data-toggle="collapse"
     (click)="collapsed = !collapsed"
     href="javascript:void(0);"
     [attr.aria-expanded]="collapsed"
     [attr.aria-controls]="filter.field + '-filter-div'"
     class="collapse-link"
  >
    <h6 class="w-100">
      <label [for]="filter.field">
          {{filter.name}}
      </label>
      <i *ngIf="collapsed" class="fa fa-chevron-down float-right"></i>
      <i *ngIf="!collapsed" class="fa fa-chevron-up float-right"></i>
    </h6>
  </a>
  <div [ngbCollapse]="collapsed" [id]="filter.field + '-filter-div'">

    <input *ngSwitchCase="'input'" type="text" class="form-control" (ngModelChange)="filter.dataChange($event)" [ngModel]="filter.value" [id]="filter.field">

    <select *ngSwitchCase="'single-choice'" [id]="filter.value" type="text" class="form-control" (change)="filter.dataChanged.next(true)" (input)="filter.value = $event.target.value">
      <option value="">--</option>
      <option *ngFor="let opt of filter.options" [value]="opt">{{opt}}</option>
    </select>

    <div *ngSwitchCase="'multiple-choice'">
      <div class="form-check" *ngFor="let opt of filter.options">
        <i *ngIf="filter.icons && filter.icons.hasOwnProperty(opt.toLowerCase())"
          [ngClass]="['filter-icon fas', filter.icons[opt.toLowerCase()]]">
        </i>
        <label class="form-check-label" [for]="filter.field + '-' + opt">
          <input [id]="filter.field + '-' + opt" [value]="opt" type="checkbox" (change)="filter.toggleValue(opt)" [checked]="filter.value.indexOf(opt) > -1"> {{opt}}
        </label>
      </div>
    </div>

    <div *ngSwitchCase="'date-range'" class="row">
      <div class="col"></div>
      <div class="col-auto" *ngIf="filter.value.fromDate || filter.value.toDate">
        <a href="javascript:void(0);" (click)="filter.dateChanged(null)" class="m-3">
          Wissen
        </a>
      </div>
      <div class="input-group mb-1 col-auto">
        <ngb-datepicker #d
                        ngbDatepicker
                        #datepickerFrom="ngbDatepicker"
                        [id]="filter.field + '-from'"
                        [ngModel]="filter.value"
                        [dayTemplate]="t"
                        [dayTemplateData]="getContext"
                        (ngModelChange)="filter.dateChanged($event)">
        </ngb-datepicker>
        <ng-template #t let-date let-today="today" let-month="currentMonth" let-data="data" let-focused="focused">
            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="filter.isRange(date)"
                  [class.faded]="filter.isHovered(date) || filter.isInside(date)"
                  [class.text-muted]="!filter.isRange(date) && !filter.isHovered(date) && month !== date.month"
                  [class.today]="today"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
        </ng-template>
      </div>
      <div class="col-auto">
        <ul>
          <li *ngFor="let customValue of filter.customValues">
            <a href="javascript:void(0);"
               (click)="filter.dateChanged(customValue)">
              {{customValue.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <select *ngSwitchCase="'optional-boolean'" [id]="filter.value" type="text" class="form-control" [ngModel]="filter.value" (ngModelChange)="filter.dataChange($event)">
      <option [ngValue]="''">--</option>
      <option [ngValue]="true">Ja</option>
      <option [ngValue]="false">Nee</option>
    </select>
  </div>
  <hr>
</div>
