@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");

@import "~bootstrap/dist/css/bootstrap.css";

@import "~snazzy-info-window/dist/snazzy-info-window.scss";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

$fa-font-path: "/assets/fonts/font-awesome";
@import "/assets/fontawesome/scss/fontawesome.scss";
@import "/assets/fontawesome/scss/solid.scss";
@import "/assets/fontawesome/scss/brands.scss";

@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

@font-face {
  font-family: "license-plate";
  src: url('assets/fonts/license-plate/license-plate.eot');
  src: url('assets/fonts/license-plate/license-plate.eot?#iefix') format("embedded-opentype"),
    url('assets/fonts/license-plate/license-plate.woff2') format("woff2"),
    url('assets/fonts/license-plate/license-plate.woff') format("woff"),
    url('assets/fonts/license-plate/license-plate.ttf') format("ttf");
  font-style: normal;
  font-weight: 300;
}


body{
  margin: 0;

  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 25px;
  margin: 0;
  font-weight: 700;
  color: #008BB8;
}

// MAP STYLING
.gmnoprint{
  box-shadow: rgba(0, 0, 0, .3) 0 1px 4px -1px;

  .gm-style-mtc{
    div{
      font-family: 'Poppins', sans-serif !important;
      font-size: 10px !important;
      line-height: 12px !important;
      text-transform: uppercase;
    }
    div[role="button"]{
      padding: 10px !important;
      height: auto !important;
      box-shadow: none !important;

      -webkit-transition: background-color .5s;
    }
    label{
      font-family: 'Poppins', sans-serif !important;
      font-size: 10px !important;
      line-height: 12px !important;
      text-transform: uppercase;
      margin: 0 !important;
    }
    span[role="checkbox"] {
      margin-right: 5px;
      img{
        height: 10px !important;
        width: 10px !important;
        transform: none !important;
      }
    }
  }
}

.license-plate{
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: 'License Plate', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  max-width: 120px;
  padding: 2px 5px 2px 12.5px;
  text-transform: uppercase;
  -webkit-transition: background-color .3s ease, text-shadow .3s ease;
  transition: background-color .3s ease, text-shadow .3s ease;

  &:focus{
    outline: 0;
  }

  &.license-nl{
    background: #f2ba00 url('assets/images/license-plate-nl.svg') no-repeat top left;
    color: #222;
    text-shadow: 1px 1px #ffe153;

    &:focus {
      background-color: #ffc70d;
      text-shadow: 0 0 #ffe153;
    }
  }

}

// Leaflet Styling
.cluster {
  text-align: center;
  color: white;
  background-position: -1px 0;

  &.size-1 {
    background-image: url('assets/images/clusters/m1.png');
    line-height: 53px;
  }
  
  &.size-2 {
    background-image: url('assets/images/clusters/m2.png');
    line-height: 56px;
  }
  
  &.size-3 {
    background-image: url('assets/images/clusters/m3.png');
    line-height: 66px;
  }
  
  &.size-4 { 
    background-image: url('assets/images/clusters/m4.png');
    line-height: 78px;
  }
  
  &.size-5 {
    background-image: url('assets/images/clusters/m5.png');
    line-height: 90px;
  }
}

.resetzoom-btn {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    cursor: pointer;
}