/* Leaflet Overrides */
.leaflet-popup {
  margin-bottom: 35px;

  // Leaflet marker popup styling override
  .leaflet-popup-content-wrapper {
    border-radius: 3px 0 3px 3px;

    .leaflet-popup-content {
      margin: 10px;

      p {
        margin: .33rem 0;
      }

      .row {
        padding: 0 5px;
        border-radius: 5px;
      }
    }
  }

  // Leaflet popup close button override
  .leaflet-popup-close-button {
    right: -24px !important;
    padding: 12px !important;
    color: black !important;
    background: rgba(0, 0, 0, .4) !important;
    border-radius: 0 3px 3px 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.leaflet-control-layers {
  background-color: rgba(0, 0, 0, 0);
  border: none !important;
  padding: 0 !important;
  box-shadow: none;
  margin: 0;

  a {
    color: gray;
  }

  label {
    display: inline-block !important;
    padding: 8px 15px;
    margin: 5px;

    div input[type='checkbox'] {
      visibility: hidden;

      &:before {
        content: "";
        visibility: visible;
        display: inline-block;
        width: 3px;
        height: 36px;
        border-radius: 3px 0 0 3px;
        top: -11px;
        left: -15px;
        background: red;
        position: absolute;
      }

      &:checked {
        &:before {
          visibility: visible;
          background-color: green;
        }
      }
    }

    div span {
      user-select: none;
      position: relative;
      left: -12px;
    }
  }
}

.leaflet-routing-container {
  display: none;
}

  /* Custom map styles */
// Cluster styling
.leaflet-custom-popup {
  bottom: 12px !important;
}

.cluster {
  text-align: center;
  color: white;
  background-position: -1px 0;

  &.size-1 {
    background-image: url('/assets/images/clusters/m1.png');
    line-height: 53px;
  }

  &.size-2 {
    background-image: url('/assets/images/clusters/m2.png');
    line-height: 56px;
  }

  &.size-3 {
    background-image: url('/assets/images/clusters/m3.png');
    line-height: 66px;
  }

  &.size-4 {
    background-image: url('/assets/images/clusters/m4.png');
    line-height: 78px;
  }

  &.size-5 {
    background-image: url('/assets/images/clusters/m5.png');
    line-height: 90px;
  }
}

// Map UI Styling
.map-ui-element,
.leaflet-control-layers label {
  border-radius: 3px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.847);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
  background-color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;

  &.zoom-btns {
    height: 80px;
    width: 40px;
    z-index: 1000;
  }

  // Default sizes for buttons on the map
  .map-btn,
  &.map-btn {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}


// Popup styling
.popup-car,
.popup-work {
  span:not(.license-plate) {
    background-color: #008bb8;
    border-radius: 5px;
    display: inline-block;
    color: white;
    box-sizing: border-box;
    padding: 5px 8px;
    margin-right: 5px;
    margin-bottom: 5px;

    &.license-nl {
      padding: 0;
      margin-bottom: 0;

    }
  }
}

// Marker styling
.div-icon {
  background: none;
  border: 0;
  height: 33px !important;
  width: 30px !important;

  div {
    height: inherit;
    width: inherit;
    background-position: -1px 0;
    display: flex;
    justify-content: center;

    span {
      &:before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
      }

      color: black;
      text-align: center;
      position: absolute;
      height: max-content;
      left: 40px;
      background-color: #fff;
      padding: 4px;
      border-radius: 3px;
      max-width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.glyph-icon {
  color: white;
  line-height: 2;
}

.work-marker {
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    right: 1px;
    top: 1px;
  }

  &.urgent {
    &::after {
      background-color: var(--red);
    }
  }

  &.semi-urgent {
    &::after {
      background-color: var(--orange);
    }
  }

  &.notice {
    &::before {
      background-color: var(--yellow);
    }
  }

  &.on-schedule {
    &::before {
      background-color: var(--green);
    }
  }
}
